<% provide(:title,'Porducts') %>
<% provide(:products,'active') %>
<div class="main">
	<div class="action-part">
		<button class="btn btn-primary float-right mr-3" data-toggle="modal" data-target="#product_modal">Add product</button>
	</div>
	<div class="product-table-container">
		<table class="product-table table table-bordered" cellspacing="0" id="product_table" width="100%">
			<thead>
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Brand</th>
					<th>Properties</th>
					<th>Desciption</th>
					<th>Price</th>
					<th>Offer type</th>
					<th>Offer</th>
					<th>qunatity</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="modal fade" id="product_modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				Add a new product
                    <span aria-hidden="true" class="close" data-dismiss="modal">&times;</span>

			</div>
			<div class="modal-header">
				 <%= form_for(@product,:html=>{:id=>'product_form'}) do |product| %>
				 <input type="hidden" name="product[id]" value="" id="product_id">
				 	<div class="row">
				 		<div class="col-md-5">
				 			<div class="form-group">
				 				<div class="row">
				 					<div class="col-md-3 col-xs-3">
				 						<%= product.label(:name)  %>
				 					</div>
				 					<div class="col-xs-9 col-md-9">
				 						<%= product.text_field(:name,class:'form-control') %>
				 					</div>

				 				</div>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="form-group">
				 				<div class="row">
				 					<div class="col-md-4">
				 						<%= product.label(:brand,'Brand')  %>
				 					</div>
				 					<div class="col-md-8">
				 						<%= product.select(:brand_id,options_for_select(@brands),{},{:class=>'form-control'}) %>
				 					</div>
				 				</div>

				 			</div>
				 		</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="row" >
									<div class="col-md-3">
										<%= product.label(:type,'Type') %>
									</div>
									<div class="col-md-9">
										<%= product.select(:type_id,options_for_select(@types),{},{:class=>'form-control'}) %>
									</div>
								</div>
							</div>
						</div>
				 	</div>
				 	<div class="row">
				 		<div class="col-md-12">
				 			<div class="form-group">
				 				<div class="row">
				 					<div class="col-md-3">
				 						<%= label_tag(:properties,'Properties') %>
				 					</div>
				 					<div class="col-md-9">
				 						<%= select_tag(:properties,"".html_safe,class:'',id:'properties',placeholder:'Searth property',multiple:'multiple') %>
				 					</div>
				 				</div>
				 			</div>
				 		</div>
				 	</div>
				 	<div class="row mx-4 properties-table-container d-none">
				 		<table class="table table-bordered table-bordered" cellspacing="0" id="properties_table" width="100%">
				 			<thead><tr><th>Property</th><th>value</th></tr></thead>
				 			<tbody>
				 			</tbody>
				 		</table>
				 	</div>
				 	<div class="row">
				 		<div class="col-md-4">
				 			<div class="form-group">
				 				<div class="row">
				 					<div class="col-md-4 col-xs-4">
				 						<%= product.label(:current_price,'Price') %>
				 					</div>
				 					<div class="col-md-8 col-xs-8">
				 						<%= product.text_field(:current_price,class:'form-control numerical') %>
				 					</div>
				 				</div>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="form-group">
				 				<div class="row">
				 					<div class="col-md-5 col-xs-5">
				 						<%= product.label(:offer_type,'Offer type') %>
				 					</div>
				 					<div class="col-md-7 col-xs-7">
				 						<%= product.select(:offer_type,options_for_select([['select offer type',''],['discount',1],['cutoff',2]]),{},{:class=>'form-control'}) %>
				 					</div>
				 				</div>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="form-group">
				 				<div class="row">
				 					<div class="col-md-4 col-xs-4">
				 						<%= product.label(:offer) %>
				 					</div>
				 					<div class="col-md-8 col-xs-8">
				 						<%= product.text_field(:offer,class:'form-control numerical') %>
				 					</div>
				 				</div>
				 			</div>
				 		</div>
				 	</div>
			</div>
			<div class="modal-footer">
          <button class="btn btn-primary" type="submit">Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
			</div>
		 <% end %>
		</div>
	</div>
</div>
