<% provide(:title,'New stock') %>
<% provide(:stock,'active') %>
<div class="main">
    <div class="stock-form">
        <%= form_for(:stock,method:'post',:html=>{}) do |stock| %>
            <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-12">
                    <div class="form-group">
                        <%= label_tag(:supplier_name) %>
                            <%= stock.text_field(:supplier_name,class:'form-control') %>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4 col-sm-6">
                    <div class="form-group">
                        <%= label_tag(:quantity) %>
                            <%= stock.text_field(:quantity,class:'form-control') %>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4 col-sm-6">
                    <div class="form-group">
                        <%= label_tag(:total_price) %>
                            <%= stock.text_field(:total_price,class:'form-control') %>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4 col-sm-6">
                    <div class="form-group">
                        <%= label_tag(:paid_amount) %>
                            <%= stock.text_field(:paid_amount,class:'form-control') %>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4 col-sm-6">
                    <div class="form-group">
                        <%= label_tag(:product_count) %>
                            <%= stock.text_field(:product_count,class:'form-control') %>
                    </div>
                </div>
            </div>
            <div class="stock-products-container">
                <div class="stock-products">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product Id</th>
                                <th>Current price</th>
                                <th >Offer type</th>
                                <th >Offer</th>
                                <th >Effective date</th>
                                <th >Quantity</th>
                            </tr>
                        </thead>
                        <tbody id="stock_products">
                        <% (1..5).each do |i| %>
                            <tr>
                                <td>
                                  <%= text_field_tag(:product_id,'',class:'form-control',name:'product[][product_id]') %>
                                </td>
                                <td>
                                    <%= text_field_tag(:current_price,'',class:'form-control',name:'product[][current_price]') %>
                                </td>
                                <td>
                                    <%= select_tag(:offer_type,options_for_select([['discount',1],['cutoff',2]]),{:class=>'form-control',:name=>'product[][offer_type]'}) %>
                                </td>
                                <td>
                                    <%= text_field_tag(:offer,'',class:'form-control',name:'product[][offer]') %>
                                </td>
                                <td>
                                    <%= text_field_tag(:effective_date,'',class:'form-control',name:'product[][effective_date]') %>
                                </td>
                                <td>
                                    <%= text_field_tag(:quantity,'',class:'form-control',name:'product[][quantity]') %>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
                <div class="action-part">
                    <button class="float-right btn  btn-primary"><i class="fa fa-cart-plus"></i> save stock</button>
                </div>
            </div>
            <% end %>
    </div>
</div>
<div class="modal fade" id="new_product_modal" tabindex="-1" role="dialog" aria-labelledby="Add new stock" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="stock-product">
                    <%= form_for(:product) do |product| %>
                        <div class="row">
                            <div class="col-md-3 col-xs-4 col-sm-6">
                                <div class="form-group">
                                    <%= label_tag(:type_id) %>
                                        <%= product.select(:type,options_for_select([[1,'shirt'],[2,'pant']]),{},{:class=>'form-control'}) %>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-4 col-sm-6">
                                <div class="form-group">
                                    <%= label_tag(:brand_id) %>
                                        <%= product.select(:brand,options_for_select([[1,'adidas'],[2,'levis']]),{},{:class=>'form-control'}) %>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-4">
                                <div class="form-group">
                                    <%= label_tag(:size_id) %>
                                        <%= product.select(:size,options_for_select([[1,'adidas'],[2,'levis']]),{},{:class=>'form-control'}) %>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-4 col-sm-6">
                                <div class="form-group">
                                    <%= label_tag(:color_id) %>
                                        <%= product.select(:color,options_for_select([[1,'adidas'],[2,'levis']]),{},{:class=>'form-control'}) %>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-4 col-sm-6">
                                <div class="form-group">
                                    <%= label_tag(:quantity) %>
                                        <%= product.text_field(:quantity,class:'form-control') %>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-4 col-sm-6">
                                <div class="form-group">
                                    <%= label_tag(:price) %>
                                        <%= product.text_field(:price,class:'form-control') %>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-4">
                                <div class="form-group">
                                    <%= label_tag(:offer_type) %>
                                        <%= product.select(:offer_type,options_for_select([[1,'adidas'],[2,'levis']]),{},{:class=>'form-control'}) %>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-4 col-sm-6">
                                <div class="form-group">
                                    <%= label_tag(:offer) %>
                                        <%= product.text_field(:offer,class:'form-control') %>
                                </div>
                            </div>
                        </div>
                        <% end %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
