<div class="main panel">
    <div class="row">
        <div class="col-md-4"><span class="">Customer name : </span><span class="bold-4" id="name"><%= @customer_name %></span></div>
        <div class="col-md-4"><span class="">Customer Due : </span> <span class="fa fa-inr"> </span><span class="bold-4" id="due"> <%= @customer_due %></span></div>
        <div class="col-md-4"><button class="btn btn-primary add-trans float-right mr-">pay money</button></button></div>
    </div>
    <hr>
    <div class="">
        <table class="table table-bordered" id="customer_transactions"  data-id=<%=params[:id] %>>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Due</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="add_trans" data-current="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="customer_name"><span id="name"><%= @customer_name %></span></h5>
                <h5 class="text-right"><span class="fa fa-inr"></span><span id="due"> <%= @customer_due %></span></h5>
            </div>
            <div class="modal-body">
                <div class="add-trans-container">
                    <%= form_tag(customer_transaction_path,method:'post',id:'customer_transaction') do |f| %>
                        <div class="form-group">
                            <input type="hidden" name="customer_id" value="<%= params[:id] %>" id="customer_id">
                            <input type="hidden" id="cust_due" value="<%= @customer_due %>">
                            <label for="amount">Enter Paid amount</label>
                            <input type="text" name="amount" class="form-control numerical" id="amount">
                            <label for="description">Add some description</label>
                            <textarea class="form-control" name="description" id="description"></textarea>
                        </div>
                        <div class="modal-footer ">
                            <button class="btn btn-primary" type="submit">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
                        </div>
                        <% end %>
                </div>
            </div>
        </div>
    </div>