<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <a class="navbar-brand" href="#"><i class="fa fa-building-o"></i> <%= current_shop['name'] %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= yield(:home) %>">
                <%= link_to '<i class="fa fa-home"></i> Home'.html_safe,home_path,class:"nav-link" %>
            </li>
            <li class="nav-item <%= yield(:billing) %>">
                <%= link_to '<i class="fa fa-file-text-o"></i> Billing'.html_safe, billing_path,class:"nav-link" %>
            </li>
            </li>
            <li class="nav-item <%= yield(:customers) %> ">
                <%= link_to '<i class="fa fa-users"></i> Customers'.html_safe, customers_path,class:"nav-link" %>
                    <li class="nav-item <%= yield(:products) %> ">
                        <%= link_to '<i class="fa fa-product-hunt"></i> Products'.html_safe, products_path,class:"nav-link" %>
                    </li>
                    <li class="nav-item <%= yield(:stock) %> ">
                        <%= link_to '<i class="fa fa fa-shopping-cart"></i> Stocks'.html_safe, stock_path,class:"nav-link" %>
                    </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="https://designrevision.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-user"></span> <%= current_user[:email] %>
                            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to '<i class="fa fa-user"></i> profile'.html_safe, profile_path,class:'dropdown-item' %>
                        <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#password_modal"><i class="fa fa-key"></i>  Change password</a>
                        <%= link_to '<i class="fa fa-sign-out"></i> Sign out'.html_safe, destroy_user_session_path, :method => :delete,class:'dropdown-item' %>
                </div>
            </li>
            <!--    <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
                        </li> -->
        </ul>
    </div>
</nav>
<div class="modal fade" id="password_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Change password
                <span aria-hidden="true" class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <%= form_tag update_password_path , method:'post' ,id:'password_form' %>
                    <div class="login-form">
                        <div class="form-group">
                            <label for="old_password">Old password</label>
                            <input type="password" name="old" class="form-control" id="old_password">
                            <label for="password">New password</label>
                            <input type="password" name="password" class="form-control" id="password">
                            <label for="re_password">Re enter your password</label>
                            <input type="password" name="password_confirmation" class="form-control" id="re_password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>