<div class="loader">
    <div class="page-loader"></div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <a class="navbar-brand" href="#"><i class="fa fa-building-o"></i> Shop name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= yield(:home) %>">
                <%= link_to '<i class="fa fa-home"></i> Home'.html_safe,home_path,class:"nav-link" %>
            </li>
            <li class="nav-item <%= yield(:billing) %>">
                <%= link_to '<i class="fa fa-file-text-o"></i> billing'.html_safe, billing_path,class:"nav-link" %>
            </li>
            <li class="nav-item <%= yield(:customers) %> ">
                <%= link_to '<i class="fa fa-users"></i> Customers'.html_safe, customers_path,class:"nav-link" %>
            </li>
            <li class="nav-item dropdown <%= yield(:stock) %>">
                <a class="nav-link dropdown-toggle" href="https://designrevision.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-shopping-cart"></i> Stock
                            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to 'products'.html_safe, products_path,class:"dropdown-item" %>
                    <%= link_to 'stocks'.html_safe, stock_path,class:"dropdown-item" %>
                    <%= link_to 'Add stock'.html_safe, stock_new_path,class:"dropdown-item" %>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav float-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://designrevision.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        user name
                            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to '<i class="fa fa-user"></i> profile'.html_safe, destroy_user_session_path, :method => :delete,class:'dropdown-item' %>
                        <%= link_to '<i class="fa fa-sign-out"></i> Sign out'.html_safe, destroy_user_session_path, :method => :delete,class:'dropdown-item' %>
                </div>
            </li>
            <!--    <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
                        </li> -->
        </ul>
    </div>
</nav>
